---
---

@import "{{ site.theme }}";

.wrapper{
    min-width: 640px;
    width: 50%;
}

section {
    > ul {
        list-style: simp-chinese-formal;
        padding-inline-start: 64px;
        color: #069;
        li {
            a strong{
                color: #069;
            }
            em {
                color: #555;
            }
            p {
                color: #555;
            }
        }
    }
}
